<div id="skin-select" skin-select>

<div id="logo">
 <h1>MX Soft</h1>
</div>

<a id="toggle">
    <span class="entypo-menu"></span>
</a>
<div class="dark">
    <form action="#">
        <span>
            <input type="text" name="search" value="" class="search rounded id_search" placeholder="查找 菜单..." autofocus="">
        </span>
    </form>
</div>

<!-- 菜单 -->
<div class="skin-part">
    <div id="tree-wrap">
        <div class="side-bar">
            <ul class="topnav menu-left-nest">
                <li>
                    <a href="javascript:;" style="border-left:0px solid!important;" class="title-menu-left">

                        <span>系&nbsp;统&nbsp;菜&nbsp;单</span>
                        <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                    </a>
                </li>

                <li>
                    <a class="tooltip-tip ajax-load" href="javascript:;" title="信息配置">
                        <i class="icon-document-edit"></i>
                        <span>信息配置</span>

                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="javascript:;" 
                            ui-sref="mxsoft.department" title="部门管理"><i class="entypo-doc-text"></i><span>部门管理</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blog-detail.html" title="角色管理"><i class="entypo-newspaper"></i><span>角色管理</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blog-detail.html" title="人员管理"><i class="entypo-newspaper"></i><span>人员管理</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blog-detail.html" title="客户管理"><i class="entypo-newspaper"></i><span>客户管理</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip ajax-load" href="social.html" title="商品信息">
                        <i class="icon-feed"></i>
                        <span>商品信息</span>

                    </a>
                </li>
                <li>
                    <a class="tooltip-tip ajax-load" href="social.html" title="合同信息">
                        <i class="icon-feed"></i>
                        <span>合同信息</span>

                    </a>
                </li>
                <li>
                    <a class="tooltip-tip ajax-load" href="media.html" title="记事本">
                        <i class="icon-camera"></i>
                        <span>记事本</span>

                    </a>
                </li>
            </ul>

            <ul class="topnav menu-left-nest">
                <li>
                    <a href="javascript:;" style="border-left:0px solid!important;" class="title-menu-left">

                        <span >功&nbsp;能&nbsp;菜&nbsp;单</span>
                        <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                    </a>
                </li>
                
                <li>
                    <a class="tooltip-tip" href="javascript:;" title="农资管理">
                        <i class="icon-window"></i>
                        <span>农资管理</span>

                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="机械设备"><i class="icon-media-record"></i><span>机械设备</span></a>
                        </li>
                         <li>
                            <a class="tooltip-tip2 ajax-load" href="profile.html" title="化肥库"><i class="icon-user"></i><span>化肥库</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="过期预警"><i class="entypo-newspaper"></i><span>过期预警</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="盘点"><i class="entypo-newspaper"></i><span>盘点</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip" href="javascript:;" title="种植基地">
                        <i class="icon-mail"></i>
                        <span>种植基地</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="基地信息"><i class="icon-media-record"></i><span>基地信息</span></a>
                        </li>
                         <li>
                            <a class="tooltip-tip2 ajax-load" href="profile.html" title="地块管理"><i class="icon-user"></i><span>地块管理</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="仓库信息"><i class="entypo-newspaper"></i><span>仓库信息</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="基地监控"><i class="entypo-newspaper"></i><span>基地监控</span></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="tooltip-tip" href="javascript:;" title="生产管理">
                        <i class="icon-preview"></i>
                        <span>生产管理</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="种苗培育"><i class="icon-media-record"></i><span>种苗培育</span></a>
                        </li>
                         <li>
                            <a class="tooltip-tip2 ajax-load" href="profile.html" title="生产计划"><i class="icon-user"></i><span>生产计划</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="农事管理"><i class="entypo-newspaper"></i><span>农事管理</span></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="tooltip-tip" href="javascript:;" title="产品流水线">
                        <i class="icon-document-new"></i>
                        <span>产品流水线</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="采收"><i class="icon-media-record"></i><span>采收</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="检测"><i class="entypo-newspaper"></i><span>检测</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="初加工"><i class="fontawesome-money"></i><span>初加工</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="time-line.html" title="包装"><i class="entypo-clock"></i><span>包装</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip " href="javascript:;" title="销售管理">
                        <i class="icon-download"></i>
                        <span>销售管理</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="合同订单配货"><i class="icon-media-record"></i><span>合同订单配货</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="其他订单配货"><i class="entypo-newspaper"></i><span>其他订单配货</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="追溯码打印"><i class="fontawesome-money"></i><span>追溯码打印</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip " href="javascript:;" title="库存记录">
                        <i class="icon-download"></i>
                        <span>库存记录</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="库存档案"><i class="icon-media-record"></i><span>库存档案</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="invoice.html" title="流水信息"><i class="entypo-newspaper"></i><span>流水信息</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="过期预警"><i class="fontawesome-money"></i><span>过期预警</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="盘点"><i class="fontawesome-money"></i><span>盘点</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="调拨转移"><i class="fontawesome-money"></i><span>调拨转移</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="报损"><i class="fontawesome-money"></i><span>报损</span></a>
                        </li>
                    </ul>
                </li>

            </ul>

            <ul id="menu-showhide" class="topnav menu-left-nest">
                <li>
                    <a href="javascript:;" style="border-left:0px solid!important;" class="title-menu-left">

                        <span >统&nbsp;计&nbsp;菜&nbsp;单</span>
                        <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                    </a>
                </li>


                <li>
                    <a class="tooltip-tip" href="javascript:;" title="市场分析">
                        <i class="icon-monitor"></i>
                        <span>市场分析</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="element.html" title="商品销售走势"><i class="icon-attachment"></i><span>商品销售走势</span></a>
                        </li>
                        <li><a class="tooltip-tip2 ajax-load" href="button.html" title="周边商品新闻"><i class="icon-view-list-large"></i><span>周边商品新闻</span> <div class="noft-blue-number">10</div></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip" href="javascript:;" title="个人统计">
                        <i class="icon-document"></i>
                        <span>个人统计</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="form-element.html" title="产出统计"><i class="icon-document-edit"></i><span>产出统计</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="andvance-form.html" title="销售统计"><i class="icon-map"></i><span>销售统计</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="text-editor.html" title="折损统计"><i class="icon-code"></i><span>折损统计</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="file-upload.html" title="财务统计"><i class="icon-upload"></i><span>财务统计</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tooltip-tip" href="javascript:;" title="农资统计">
                        <i class="icon-view-thumb"></i>
                        <span>农资统计</span>
                    </a>
                    <ul>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="table-static.html" title="化肥消耗统计"><i class="entypo-layout"></i><span>化肥消耗统计</span></a>
                        </li>
                        <li>
                            <a class="tooltip-tip2 ajax-load" href="table-dynamic.html" title="机械出勤率"><i class="entypo-menu"></i><span>机械出勤率</span></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- 左侧下方小标题 -->
            <div class="side-dash">
                <h3>
                    <span>登录信息</span>
                </h3>
                <ul class="side-dashh-list">
                    <li>上次登录时间
        <span>2018-03-08 09:01<i style="color:#44BBC1;" class="fa fa-arrow-circle-up"></i>
        </span>
                    </li>
                    <li>退出时间
        <span>2018-03-08 18:03<i style="color:#AB6DB0;" class="fa fa-arrow-circle-down"></i>
        </span>
                    </li>
                    <li>登录IP地址
        <span>127.0.0.1<i style="color:#19A1F9;" class="fa fa-arrow-circle-up"></i>
        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>